<section class="vh-100 overflow-auto" style="background-color: #508bfc;">
  <div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body px-5 py-4 text-center">

            <h2 class="fw-bold mb-2">Sign up</h2>
            <p class="text-black-50 mb-3">Please provide required information!</p>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <div class="form-outline mb-4 text-start">
                  <%= f.label :name, class: "form-label" %>
                  <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name", class:"form-control"%>
                  <% if resource.errors.has_key?(:name) %>
                    <span class="text-danger mb-0"><%= resource.errors[:name].first %></span>
                  <% end %>
                </div>

                <div class="form-outline mb-4 text-start">
                  <%= f.label :email, class: "form-label" %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class:"form-control"%>
                  <% if resource.errors.has_key?(:email) %>
                    <span class="text-danger mb-0"><%= resource.errors[:email].first %></span>
                  <% end %>
                </div>

                <div class="form-outline mb-4 text-start">
                  <label class: "form-label" >
                      Password
                      <% if @minimum_password_length %>
                        <em> (<%= @minimum_password_length %> characters minimum)</em>
                      <% end %>
                  </label>
                  <%= f.password_field :password, autocomplete: "new-password", placeholder: "New Password", class:"form-control"%>
                  <% if resource.errors.has_key?(:password) %>
                    <span class="text-danger mb-0"><%= resource.errors[:password].first %></span>
                  <% end %>
                </div>

                <div class="form-outline mb-4 text-start">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Passowrd", class:"form-control"%>
                  <% if resource.errors.has_key?(:password_confirmation) %>
                    <span class="text-danger mb-0"><%= resource.errors[:password_confirmation].first %></span>
                  <% end %>
                </div>

                <div class="d-grid">
                  <%= f.submit "Sign up", class:"btn btn-secondary btn-lg mb-2" %>
                </div>
              <% end %>

              <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>