<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 mt-4 p-2">
      <h3 class="text-center">
        Recipes List
      </h3>
    
      <div class="d-flex justify-content-end p-2">
        <%= link_to "New Recipe", new_recipe_path, class: "btn btn-primary", data: { turbo_frame: "remote_modal" }%>
      </div>

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class="alert alert-danger">
          <%= alert %>
        </p>
      <% elsif @recipes.empty? %>
        <p class="alert alert-info">
          No recipes added yet. Please add new recipe.
        </p>
      <% end %>

      <% if @recipes.any? %>
        <% @recipes.each do |recipe| %>
          <div class="row border mb-4">
            <div class="col-4 py-3 ps-4 text-start">
              <%= link_to recipe.name, recipe_path(recipe), class: 'nav-link mb-3 fs-4 link-dark'%>
                <%= button_to "Remove", recipe_path(recipe), class: "btn btn-danger fs-5 p-1 custom-button-width", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
              </div>
            <div class="col p-2 text-start">
              <p><%= recipe.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
