<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 mt-4 p-2">
      <h1 class="text-center">
        Recipes List
      </h1>
    
      <div class="d-flex justify-content-end p-2">
        <%= link_to 'New Recipe', new_recipe_path, class: "btn btn-primary text-right" %>
      </div>

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class="alert alert-danger">
          <%= alert %>
        </p>
      <% elsif @recipes.empty? %>
        <p class="alert alert-info">
          No recipes added yet. Please add new recipe.
        </p>
      <% end %>

      <% if @recipes.any? %>
        <% @recipes.each do |recipe| %>
          <div class="row border mb-4">
            <div class="col-4 p-2 text-start">
              <%= link_to recipe.name, recipe_path(recipe), class: 'nav-link mb-3 fs-4 link-dark'%>
              <% if can? :destroy, recipe %>
                <%= button_to "Remove", recipe_path(recipe), method: :delete, data: { confirm: "Are you sure you want to delete this inventory?" }, class: 'btn btn-danger mx-3 fs-5 p-1 custom-button-width' %>
              <% end %>
              </div>
            <div class="col p-2 text-start">
              <p><%= recipe.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
