<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 mt-4 p-2">
      <h1 class="text-center">Public Recipes List</h1>

      <% if @public_recipes.empty? %>
        <p class="alert alert-info">
          There are no public recipes yet. 
          <%= link_to 'Create one', new_recipe_path, data: { turbo_frame: "remote_modal" } %>
        </p>
      <% else %>
        <% @public_recipes.each do |public_recipe| %>
          <% public_recipe.recipes.each do |recipe| %>
            <div class="row border mb-4">
              <div class="col-4 p-3 text-start">
                <%= link_to recipe.name, recipe_path(recipe), class: 'nav-link mb-3 fs-4 link-dark' %>
                <span class="mb-3">By: <%= public_recipe.name %></span>
              </div>
              <div class="d-flex flex-column col text-end p-4">
                <span>Total food items: <%= recipe.recipe_foods.count %></span>
                <span>Total quantities: <%= recipe.recipe_foods.sum(:quantity) %></span>
                <span>Total price: 
                  <%= recipe.recipe_foods.sum do |recipe_food|
                      recipe_food.quantity * recipe_food.food.price
                    end
                  %>
                </span>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

