<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 mt-4 p-2">
      <h1 class="text-center">
        <%= @recipe.name %>
      </h1>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>

      <div class="d-flex justify-content-between align-items-center mb-3">
        <span>
          Preparation Time:
          <%= @recipe.preparation_time %>
          <%= @recipe.preparation_time > 1 ? 'hours' : 'hour' %> 
        </span>
        <div data-controller="recipe"
            data-recipe-update-url="<%= recipe_path(@recipe) %>"
            class="form-check form-switch form-check-reverse"> 
          <input type="checkbox" 
              data-action="recipe#toggle" data-target = "public"
              class="form-check-input" id="flexSwitchCheckReverse"
                <% if @recipe.public %> checked <% end %>>
          <label class="form-check-label" for="flexSwitchCheckReverse">Public</label>
        </div>
      </div>

      <span class="d-block mb-3">
        Cooking Time:
        <%= @recipe.cooking_time %>
        <%= @recipe.cooking_time > 1 ? 'hours' : 'hour' %>
      </span>
      <span class="steps">Steps goes here...</span>

      <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="add-btn">
          <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-secondary">
            Generate shopping list
          </button>
        </div>
        <%= render partial: 'modal_structure' %>
       
        <div class="add-btn">
          <%= link_to 'Add ingredient', new_recipe_recipe_food_path(recipe_id: @recipe.id), class: 'btn btn-primary' %>
        </div>
      </div>

      <hr/>
      <% if @recipe.recipe_foods.empty? %>
        <p class="no-record text-center">
          No food ingredient added to this recipe yet.
        </p>
      <% end %>

      <% if @recipe.recipe_foods.any? %>
        <table class="table table-striped table-bordered mt-2">
					<thead>
						<tr>
						  <th scope="col">#</th>
							<th scope="col">Food</th>
							<th scope="col">Quantity</th>
							<th scope="col">Value</th>
							<th scope="col" class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
            <% @recipe.recipe_foods.each_with_index do |food_recipe, index| %>
              <tr>
                <td><%= index + 1 %></td>										
                <td><%=food_recipe.food.name %></td>
                <td>
                  <%= food_recipe.quantity.to_i %>
                  <%= food_recipe.food.measurement_unit %>
                </td>
                <td>
                  <% if food_recipe.quantity.present? && food_recipe.food.price.present? %>
                      $<%= food_recipe.quantity * food_recipe.food.price %>
                  <% else %>
                    N/A
                  <% end %>
                </td>
                <td class="d-flex justify-content-center justify-content-around">
                  <%= link_to 'Modify', edit_recipe_recipe_food_path(@recipe, food_recipe), class: 'btn btn-danger btn-sm' %>
                  <%= form_with(url: recipe_recipe_food_path(@recipe, food_recipe), method: :delete, data: { confirm: 'Are you sure?' }) do |f| %>
                    <%= f.submit 'Remove', class: 'btn btn-danger btn-sm' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
			  </table>
      <% end %>
    </div>
  </div>
</div>
