<%= form_with(model: @recipe_food, url: recipe_ingrident_edit_path, local: true) do |form| %>
  <div class = "d-flex flex-column p-2">
    <label>Food</lable>
    <%= form.hidden_field :recipe_id, value: @recipe_food.recipe_id %>
    <%= form.collection_select :food_id, @foods, :id, :name, { prompt: '.. Select a Food ..' }, id: 'food-select'%>
    
    <% if @recipe_food.errors.any? %>
      <p class="text-danger mb-0">
        <%= @recipe_food.errors[:food_id].first %>
      </p>
    <% end %>
  </div>

  <div class = "d-flex flex-column mt-2 p-2">
    <label>Quantity</label>
    <%= form.number_field :quantity,
      autofocus: true,
      autocomplete: 'quantity',
      placeholder: 'Quantity in grams',
      class: 'form-control'
    %>
    <% if @recipe_food.errors.any? %>
      <p class="text-danger mb-0">
        <%= @recipe_food.errors[:quantity].first %>
      </p>
    <% end %>
  </div>

  <div class="actions d-flex justify-content-sm-between mt-4">
    <%= form.submit 'Save', class: 'btn btn-dark btn-sm px-4' %>
    <%= link_to 'Cancel', recipe_path(@recipe_food.recipe_id), class: "btn btn-dark btn-sm px-3" %>
  </div>
<% end %>
